<!--_nav.html-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index'%}">Blog do Curso Python Exemplo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_categoria' 'DC'%}">DC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_categoria' 'Marvel'%}">Marvel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_categoria' 'Image'%}">Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_categoria' 'Dark Horse'%}">Dark Horse</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-lg-4" action="{% url 'post_busca'%}">
                <input name="termo" value="{{ request.GET.termo }}" class="form-control mr-sm-2" type="search" placeholder="Pesquisar"
                       aria-label="Search">
            </form>
        </div>
    </div>
</nav>
<!--/_nav.html-->