{%extends 'base.html'%}
{%block conteudo%}
<h1 class="mt-5">Template básico bootstrap</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent egestas vulputate sollicitudin. Proin ac facilisis velit.
          Vestibulum tristique pharetra lorem eget tempor. Ut eu nunc auctor mi
          venenatis tristique a quis nibh. Sed accumsan congue est in convallis.
          Donec fermentum nisl id odio blandit volutpat. Curabitur purus leo,
          egestas a tortor vitae, venenatis ultrices elit.
          Suspendisse venenatis magna sed ornare pharetra.
          Fusce nec ipsum ultrices, placerat libero ac, varius orci.
          Nullam sollicitudin at ligula ut lacinia.
          Sed eu porttitor mi.
          Vestibulum placerat turpis non nisi aliquam cursus.
          Vestibulum a arcu a tortor viverra rhoncus.
          Nulla sagittis magna id eros congue, id dignissim odio semper.</p>
      <ul class="list-unstyled">
          <li>Bootstrap 4.3.1</li>
          <li>jQuery 3.4.1</li>
        </ul>

{%endblock%}